Repository workday-group-10/terralearn, pull requests merged in 2022-07, with the labels that each got.

#79 added seed file for a category and city
  terralearn-backend/terralearn.sql
  terralearn-backend/terralearn_seed.sql
Labels: backend

#81 fixed cards and added individual icons for them
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.css
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/assets/France.jpg
  frontend/src/components/assets/MountFuji.jpg
  frontend/src/components/assets/NewYork.jpg
  frontend/src/components/assets/africa-city.jpg
Labels: enhancement, frontend

#82 Implemented Slideshow in GameSummary Page, That will display information about place user is guessing
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.css
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  frontend/src/components/LandingPage/LandingPage.jsx
Labels: enhancement, frontend

#88 updated navbar with dropdown, and added profile page where user can see stats and info about their account
  frontend/src/components/App/App.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.css
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
Labels: enhancement, frontend

#87 Added image to the Map Pin
  frontend/src/components/GameplayScreen/GameplayScreen.css
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Map/Maps.jsx
  frontend/src/components/PinMap/PinMap.jsx
  frontend/src/components/assets/woman.png
Labels: frontend

#89 Guess test
  frontend/package-lock.json
  frontend/src/components/GameplayScreen/GameplayScreen.css
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Map/Map.jsx
  frontend/src/components/Map/Maps.jsx
  frontend/src/components/PinMap/PinMap.jsx
  frontend/src/components/googleMaps/googleMaps.css
  frontend/src/components/googleMaps/googleMaps.jsx
Labels: frontend

#90 Summary google map
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/App.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.css
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Map/Map.jsx
  frontend/src/components/Map/Maps.jsx
  frontend/src/components/PinMap/PinMap.css
  frontend/src/components/PinMap/PinMap.jsx
  frontend/src/components/SummaryMap/SumMap.jsx
  frontend/src/components/contexts/nutrition.jsx
  frontend/src/components/contexts/position.jsx
  frontend/src/main.jsx
Labels: frontend

#97 Api client and context files made
  frontend/src/components/App/App.jsx
  frontend/src/components/contexts/cities.jsx
  frontend/src/components/contexts/countries.jsx
  frontend/src/components/services/apiClient.js
Labels: enhancement, frontend, backend

#99 updated some onclicks for post-login landing
  frontend/src/components/PostLoginLanding/PostLoginLanding.css
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
Labels: frontend, addition

#100 Implemented the score and percentage
  frontend/src/components/GameSummaryPage/GameSummaryPage.css
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/StreetViewMap/StreetViewMap.jsx
Labels: frontend

#101 Gameplay api integration
  frontend/src/components/App/App.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/GoogleStreetMaps/GoogleStreetMaps.jsx
  frontend/src/components/RoundCountdownPage/RoundCountdownPage.jsx
  frontend/src/components/StreetViewMap/StreetViewMap.jsx
  frontend/src/components/constants.js
  frontend/src/components/contexts/cities.jsx
  frontend/src/components/contexts/countries.jsx
  frontend/src/components/googleMaps/googleMaps.jsx
Labels: enhancement, frontend

#102 Added Loading Page
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/LoadingPage/LoadingSpinner.css
  frontend/src/components/LoadingPage/LoadingSpinner.jsx
Labels: frontend

#103 random points accessing correctly
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
Labels: enhancement, frontend

#106 added more countries and cities to database
  terralearn-backend/terralearn_seed.sql
Labels: enhancement, backend, addition

#105 Added the description to the category page
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/InstructionsPage/InstructionsPage.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/RoundCountdownPage/RoundCountdownPage.jsx
  frontend/src/components/data.json
Labels: frontend

#107 filter cities context based on user chosen categories working
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
Labels: enhancement, frontend, backend, addition

#108 updated information slideshow to connect to mediawiki api, error handling in progress
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.css
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  frontend/src/components/InstructionsPage/InstructionsPage.css
  frontend/src/components/InstructionsPage/InstructionsPage.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.css
Labels: frontend, addition

#111 error handling added to information slideshow
  frontend/src/components/GameSummaryPage/GameSummaryPage.css
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
Labels: frontend, addition

#112 Favorite has been added to front end
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/Map/Maps.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  terralearn-backend/server.js
Labels: frontend

#115 Favorites backend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/App.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Navbar/Navbar.jsx
  terralearn-backend/models/favorites.js
  terralearn-backend/models/places.js
  terralearn-backend/routes/favorites.js
  terralearn-backend/routes/places.js
  terralearn-backend/server.js
Labels: backend

#118 Fav connect
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/favorites.js
  terralearn-backend/routes/favorites.js
Labels: frontend, backend

#120 added feedback and your information pages, need to connect to back end
  frontend/src/components/App/App.jsx
  frontend/src/components/Feedback/Feedback.css
  frontend/src/components/Feedback/Feedback.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.css
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/YourInformation/YourInformation.css
  frontend/src/components/YourInformation/YourInformation.jsx
Labels: enhancement, frontend

#121 Favorite exist
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/contexts/favorites.jsx
  frontend/src/components/services/apiClient.js
Labels: frontend, backend

#122 Backendfeedback
  frontend/src/components/Feedback/Feedback.css
  frontend/src/components/Feedback/Feedback.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/feedback.js
  terralearn-backend/routes/feedback.js
  terralearn-backend/server.js
  terralearn-backend/terralearn_schema.sql
Labels: enhancement, frontend, backend

#125 Information tab
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/YourInformation/YourInformation.css
  frontend/src/components/YourInformation/YourInformation.jsx
  frontend/src/components/contexts/guess.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/routes/places.js
Labels: enhancement, frontend, backend, addition

#124 Fav checkout
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/Feedback/Feedback.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/GoogleStreetMaps/GoogleStreetMaps.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  frontend/src/components/InstructionsPage/InstructionsPage.jsx
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProtectedRoute/ProtectedRoute.jsx
  frontend/src/components/Register/Register.jsx
  frontend/src/components/StreetViewMap/StreetViewMap.jsx
  frontend/src/components/contexts/auth.jsx
  frontend/src/components/contexts/cities.jsx
  frontend/src/components/contexts/countries.jsx
  frontend/src/components/contexts/favorites.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/config.js
  terralearn-backend/db.js
  terralearn-backend/middleware/security.js
  terralearn-backend/models/favorites.js
  terralearn-backend/models/places.js
  terralearn-backend/models/user.js
  terralearn-backend/routes/auth.js
  terralearn-backend/routes/favorites.js
  terralearn-backend/routes/places.js
  terralearn-backend/server.js
Labels: frontend, backend

#126 connected guess for each round to database
  frontend/src/components/Feedback/Feedback.css
  frontend/src/components/Feedback/Feedback.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Login/Login.css
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/places.js
  terralearn-backend/routes/places.js
Labels: enhancement, frontend, backend

#127 Favorite page
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/FavoritesPage/Favorite.css
  frontend/src/components/FavoritesPage/Favorite.jsx
  frontend/src/components/Navbar/Navbar.jsx
Labels: frontend
