Repository workday-group-10/terralearn, pull requests merged in 2022-08, with the labels that each got.

#130 your info sending games to table need to check if it works on all mem…
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
Labels: enhancement, frontend, backend

#131 Guesses info
  frontend/src/components/FavoritesPage/Favorite.css
  frontend/src/components/FavoritesPage/Favorite.jsx
  frontend/src/components/YourInformation/YourInformation.jsx
  frontend/src/components/data.json
Labels: frontend, backend

#134 fixes universially so it works for all members apps
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
Labels: enhancement, addition

#135 Guesses info
  frontend/src/components/App/App.jsx
  frontend/src/components/FavoritesPage/Favorite.jsx
Labels: frontend

#136 added backend files, connected backend to frontend, changes profile based on backend table
  frontend/src/components/App/App.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/ProfilePage/ProfilePage.jsx
  frontend/src/components/YourInformation/YourInformation.jsx
  frontend/src/components/contexts/auth.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/game.js
  terralearn-backend/routes/game.js
  terralearn-backend/server.js
Labels: enhancement, frontend, backend

#137 Css fixing
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/FavoritesPage/Favorite.css
  frontend/src/components/FavoritesPage/Favorite.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.css
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.css
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  frontend/src/components/InstructionsPage/InstructionsPage.css
  frontend/src/components/InstructionsPage/InstructionsPage.jsx
  frontend/src/components/LandingPage/LandingPage.css
  frontend/src/components/LandingPage/LandingPage.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.css
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
  frontend/src/components/YourInformation/YourInformation.css
  frontend/src/components/YourInformation/YourInformation.jsx
Labels: enhancement, frontend, addition

#139 added backend and frontend, need to make a useContext and connect the…
  frontend/src/components/App/App.jsx
  frontend/src/components/GameSummaryPage/GameSummaryPage.css
  frontend/src/components/GameSummaryPage/GameSummaryPage.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
  terralearn-backend/models/profile.js
  terralearn-backend/routes/auth.js
  terralearn-backend/routes/profile.js
  terralearn-backend/server.js
  terralearn-backend/terralearn_schema.sql
Labels: enhancement, frontend, backend, addition

#140 added leaderboard to navbar, user is allowed to see top scores
  frontend/src/components/App/App.jsx
  frontend/src/components/Leaderboard/Leaderboard.css
  frontend/src/components/Leaderboard/Leaderboard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/ProfilePage/ProfilePage.jsx
  frontend/src/components/contexts/countries.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/game.js
  terralearn-backend/routes/game.js
Labels: enhancement, frontend, backend

#141 User personalized done need to check with other members
  frontend/src/components/App/App.jsx
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProfilePage/ProfilePage.jsx
  frontend/src/components/contexts/profile.jsx
  frontend/src/components/services/apiClient.js
Labels: enhancement, frontend, backend, addition

#142 Nodemodules
  .gitignore
  frontend/.gitignore
  frontend/package-lock.json
  frontend/src/components/AllCategories/AllCategories.css
  frontend/src/components/AllCategories/AllCategories.jsx
  frontend/src/components/App/App.jsx
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/Leaderboard/Leaderboard.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/contexts/countries.jsx
  package-lock.json
  package.json
  terralearn-backend/.gitignore
  terralearn-backend/server.js
  terralearn-backend/terralearn_schema.sql
  terralearn-backend/terralearn_seed.sql
Labels: frontend, backend

#143 added Error handling for leaderboard
  frontend/src/components/App/App.jsx
  frontend/src/components/Leaderboard/Leaderboard.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
  terralearn-backend/models/game.js
Labels: frontend, backend, addition

#144 Sign In Errors Fixed
  frontend/src/components/Login/Login.jsx
Labels: frontend

#146 Signin errors
  frontend/src/components/Login/Login.jsx
  frontend/src/components/Navbar/Navbar.css
Labels: frontend

#145 Profile page done and css looking good
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
Labels: frontend, addition

#148 New branch css
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
Labels: frontend

#150 Post login cards
  frontend/index.html
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
  frontend/src/components/ProfilePage/ProfilePage.css
  frontend/src/components/ProfilePage/ProfilePage.jsx
  terralearn-backend/terralearn_schema.sql
Labels: frontend, addition

#151 Branch category
  frontend/src/components/AllCategories/AllCategories.css
  frontend/src/components/CategoriesCard/Category.css
  frontend/src/components/CategoriesCard/Category.jsx
  frontend/src/components/PostLoginLanding/PostLoginLanding.jsx
Labels: frontend

#152 Display hint
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/services/apiClient.js
  terralearn-backend/models/hint.js
  terralearn-backend/routes/game.js
  terralearn-backend/terralearn_schema.sql
Labels: enhancement, frontend, addition

#154 Display hint
  frontend/src/components/GameplayScreen/GameplayScreen.jsx
  frontend/src/components/InformationSlideshow/InformationSlideshow.jsx
  terralearn-backend/terralearn_seed.sql
Labels: frontend, addition
